<div class="container">
  <mat-card class="example-card mat-elevation-z8">
    <mat-toolbar>
      <span>Alteração de Cadastro de Clientes</span>
    </mat-toolbar>
    <div class="register">
      <form [formGroup]="formEditPeople">

        <div class="registerName">
          <mat-form-field appearance="outline" class="form-field-full inputName">
            <mat-label>Nome</mat-label>
            <input class="teste"  type="text" onch matInput formControlName="nome" placeholder="Ex. perukas@example.com">
            <mat-error *ngIf="formEditPeople.get('nome')?.hasError('nome') && formEditPeople.get('nome')?.touched">
              Por favor informe um nome válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('nome')?.hasError('nome') && formEditPeople.get('nome')?.touched">
              Campo Nome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field-full inputSobrenome">
            <mat-label>Sobrenome</mat-label>
            <input class="teste"  type="text" maxlength="14" onch matInput formControlName="sobrenome" placeholder="Ex. 999.999.999-99">
            <mat-error *ngIf="formEditPeople.get('sobrenome')?.hasError('sobrenome') && formEditPeople.get('sobrenome')?.touched">
              Por favor informe um Sobrenome válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('sobrenome')?.hasError('sobrenome') && formEditPeople.get('sobrenome')?.touched">
              Campo Sobrenome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>


        <div class="registerCpf">
          <mat-form-field  appearance="outline" class="form-field-full inputNacionalidade">
            <mat-label>Nacionalidade</mat-label>
            <input  class="teste"  type="text"  onch matInput formControlName="nacionalidade" placeholder="Ex. brasileiro">
            <mat-error *ngIf="formEditPeople.get('nacionalidade')?.hasError('nacionalidade') && formEditPeople.get('nacionalidade')?.touched">
              Por favor informe um Sobrenome válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('nacionalidade')?.hasError('nacionalidade') && formEditPeople.get('nacionalidade')?.touched">
              Campo Sobrenome é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field-full inputCpf">
            <mat-label>Cpf</mat-label>
            <input class="teste"  type="text" maxlength="14" onch matInput formControlName="cpf" placeholder="Ex. 999.999.999-99">
            <mat-error *ngIf="formEditPeople.get('cpf')?.hasError('cpf') && formEditPeople.get('cpf')?.touched">
              Por favor informe um cpf válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('cpf')?.hasError('cpf') && formEditPeople.get('cpf')?.touched">
              Campo CPF é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Cep</mat-label>
          <input style="width: 100px" class="teste"  type="text" maxlength="9" onch matInput formControlName="cep" (change)="searchCep()" placeholder="Ex. 07721-105">
          <mat-error *ngIf="formEditPeople.get('cep')?.hasError('cep') && formEditPeople.get('cep')?.touched">
            Por favor informe um Cep válido
          </mat-error>
          <mat-error *ngIf="formEditPeople.get('cep')?.hasError('cep') && formEditPeople.get('cep')?.touched">
            Campo Cep é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-full">
          <mat-label>Logradouro</mat-label>
          <input class="teste"  type="text"  onch matInput formControlName="logradouro" placeholder="Ex. 999.999.999-99">
          <mat-error *ngIf="formEditPeople.get('logradouro')?.hasError('logradouro') && formEditPeople.get('logradouro')?.touched">
            Por favor Logradouro um cpf válido
          </mat-error>
          <mat-error *ngIf="formEditPeople.get('logradouro')?.hasError('cpf') && formEditPeople.get('logradouro')?.touched">
            Campo Logradouro é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>


        <div class="registerEmail">
          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>Estado</mat-label>
            <input class="teste"  type="text"  onch matInput formControlName="estado" placeholder="Ex. São Paulo">
            <mat-error *ngIf="formEditPeople.get('estado')?.hasError('estado') && formEditPeople.get('estado')?.touched">
              Por favor informe um Estado válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('estado')?.hasError('estado') && formEditPeople.get('estado')?.touched">
              Campo Estado é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field-full inputCidade">
            <mat-label>Cidade</mat-label>
            <input class="teste"  type="text"  onch matInput formControlName="cidade" placeholder="Ex. 999.999.999-99">
            <mat-error *ngIf="formEditPeople.get('cidade')?.hasError('cidade') && formEditPeople.get('cidade')?.touched">
              Por favor informe um Cidade válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('cidade')?.hasError('cidade') && formEditPeople.get('cidade')?.touched">
              Campo Cidade é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>



        <div class="registerAddress">
          <mat-form-field appearance="outline" class="form-field-full">
            <mat-label>E-mail</mat-label>
            <input class="teste"  type="email"  onch matInput formControlName="email" placeholder="Ex. 999.999.999-99">
            <mat-error *ngIf="formEditPeople.get('email')?.hasError('email') && formEditPeople.get('email')?.touched">
              Por favor E-mail um cpf válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('email')?.hasError('email') && formEditPeople.get('email')?.touched">
              Campo E-mail é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-field-full inputTelefone">
            <mat-label>Telefone</mat-label>
            <input class="teste"  type="email"  onch matInput formControlName="telefone" placeholder="Ex. 999.999.999-99">
            <mat-error *ngIf="formEditPeople.get('telefone')?.hasError('telefone') && formEditPeople.get('telefone')?.touched">
              Por favor Telefone um cpf válido
            </mat-error>
            <mat-error *ngIf="formEditPeople.get('telefone')?.hasError('telefone') && formEditPeople.get('telefone')?.touched">
              Campo Telefone é <strong>obrigatório</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="buttons">
          <button [disabled]="formEditPeople.invalid" (click)="updatePeople()" mat-button style="background-color: steelblue; color: white; width: 200px">ALTERAR</button>
          <button [routerLink]="['']" mat-button style="background-color: gray; color: white; width: 200px; margin-left: 10px">VOLTAR</button>
        </div>

      </form>
    </div>
  </mat-card>
</div>

